<header id="js-header" style="background-color:<%- darkColor %>">
  <div class="logo">
    <a href="/">
      <span class="logo__big">Code for Croatia</span><span class="logo__small">CfC</span>  &nbsp;&nbsp; 2015 godišnji izvještaj
    </a>
  </div>
  <nav class="nav">
    <ul class="u-unstyled u-row">

      <li class="currently">Čitate:</li>
      <% if (data.opener) { %>
        <% opener = data.opener[0] %>
        <li class="
        <% if (title == "Uvod") { %>
        active
        <% } %>
        "><a href="/"><%- opener['category'] %></a></li>
      <% } %>

      <% _.each(data['categories'], function(category){ %>
        <li class="u-row
        <% if (category['unique-id'] == requested['unique-id']) { %>
        active
        <% } %>
        "><a href="/category/<%- category['unique-id'] %>"><%- category['category'] %></a></li>
      <% }); %>
    </ul>
  </nav>
</header>
